---
layout: default
---
<main class="container">
  <div class="row">
    <div class="col-2">
      <h1>{{ site.title }}</h1>
      <p class="lead">
          <br/>{{ site.desc }}
      </p>
      <article>
        <h1>Articles</h1>
        <ul>
          li><a
href="https://www.youtube.com/watch?v=zz6ST0VWtQI">Solitude: A Privacy Anlaysis Tool</a> <em>Chaos Communication Congress (#rC3) - December
2020</em></li><br>
          <li><a
href="https://www.fastcompany.com/90385795/im-a-security-expert-and-this-is-how-robocall-blocking-apps-violate-your-privacy">I’m a security expert and this is how robocall-blocking apps violate your privacy</a> <em>Fast Company - August
2019</em></li><br>

<li><a
href="https://www.newamerica.org/oti/building-a-mesh-networks-in-rural-somaliland/">Building
a Mesh Network in Rural Somaliland</a> <em>The Open Technology Institute
- December 2013</em></li><br>
<li><a
href="http://blog.sfgate.com/techchron/2014/01/07/it-africa-somaliland/#19403101=0">Being
the IT Guy in War-torn Africa</a></li><br>
<li><a
href="http://techpresident.com/news/wegov/24676/snoops-digital-divide-mesh-networks-on-rise">From
Keeping Away Snoops to Surmounting the Digital  Divide, Mesh Networks
are on the Rise</a></li><br>
        </ul>
      {% include buttons.html %}
    </div>
    {% include sidebar.html %}
  </div>
